<app-menu class="menu-dashboard"></app-menu>

<div class="dashboard-container">

  <!-- Cabeçalho -->
  <div class="dashboard-header">
    <h4 class="dashboard-title">Dashboard Principal</h4>
  </div>

  <!-- Gráficos -->
  <div class="dashboard-row">
    <div class="dashboard-col">
      <div [chart]="graficoDonut()"></div>
    </div>
    <div class="dashboard-col">
      <div [chart]="graficoBarras()"></div>
    </div>
  </div>

  <div class="dashboard-row">
    <div class="dashboard-col">
      <div [chart]="graficoColunas()"></div>
    </div>
  </div>

</div>
