<app-menu></app-menu>

<div class="container-tar">

  <div class="header-tar">
    <h4 class="titulo-tar">Consulta de Tarefas</h4>
    <p>Listagem das tarefas da agenda</p>
    <hr>
  </div>

  <table class="tabela-tar">
    <thead>
      <tr>
        <th>Nome da tarefa</th>
        <th>Data</th>
        <th>Prioridade</th>
        <th>Finalizado</th>
        <th>Categoria</th>
        <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let t of tarefas()">
        <td>{{ t.nome | uppercase }}</td>
        <td>{{ t.data | date:'dd/MM/yyyy' }}</td>
        <td>{{ t.prioridade }}</td>

        <td>
          <span *ngIf="t.finalizado" class="status status-sim">SIM</span>
          <span *ngIf="!t.finalizado" class="status status-nao">NÃO</span>
        </td>

        <td>{{ t.categoria.nome }}</td>

        <td>
          <button (click)="editarTarefa(t.id)" class="btn-editar">Editar</button>
          <button (click)="excluirTarefa(t.id)" class="btn-excluir">Excluir</button>
        </td>
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <td colspan="6" class="qtde">
          Quantidade de tarefas: {{ tarefas().length }}
        </td>
      </tr>
    </tfoot>
  </table>

</div>
