<app-menu></app-menu>

<div class="container-mov">

  <div class="header-mov">
    <h4 class="titulo-mov">
      Consulta de Movimentações
    </h4>
    <p>Listagem das movimentações financeiras</p>
    <hr>
  </div>

  <table class="tabela-mov">
    <thead>
      <tr>
        <th>Nome da movimentação</th>
        <th>Data</th>
        <th>Valor</th>
        <th>Tipo</th>
        <th>Categoria</th>
        <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let t of movimentacoes()">
        <td>{{ t.nome | uppercase }}</td>
        <td>{{ t.data | date:'dd/MM/yyyy' }}</td>
        <td>{{ t.valor | currency: 'BRL' }}</td>

        <td>
          <span *ngIf="t.tipo == 'Receita'" class="badge badge-receita">RECEITA</span>
          <span *ngIf="t.tipo == 'Despesa'" class="badge badge-despesa">DESPESA</span>
        </td>

        <td>{{ t.categoria.nome }}</td>

        <td>
          <button [routerLink]="['/editar-movimentacao', t.id]" class="btn-editar">Editar</button>
          <button (click)="excluirMovimentacao(t.id)" class="btn-excluir">Excluir</button>
        </td>
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <td colspan="6" class="qtde">
          Quantidade de movimentações: {{ movimentacoes().length }}
        </td>
      </tr>
    </tfoot>
  </table>
</div>
