<div class="page-container">
  <div class="login-card">

    <h2 class="titulo">Agenda Web</h2>

    <h4 class="subtitulo">Autenticação de Usuário</h4>

    <form [formGroup]="formulario" (ngSubmit)="autenticarUsuario()">

      <!-- E-mail -->
      <div class="mb-3 campo">
        <label for="email" class="form-label">E-mail</label>
        <input
          type="email"
          formControlName="email"
          id="email"
          class="form-control input-estilizado"
          placeholder="Digite seu e-mail"
          required
        />
        <div class="text-danger" *ngIf="formulario.get('email')?.invalid && formulario.get('email')?.touched">
          Por favor, insira um e-mail válido.
        </div>
      </div>

      <!-- Senha -->
      <div class="mb-3 campo">
        <label for="senha" class="form-label">Senha</label>
        <input
          type="password"
          formControlName="senha"
          id="senha"
          class="form-control input-estilizado"
          placeholder="Digite sua senha"
          required
        />
        <div class="text-danger" *ngIf="formulario.get('senha')?.invalid && formulario.get('senha')?.touched">
          A senha deve ter no mínimo 8 caracteres.
        </div>
      </div>

      <!-- Botão -->
      <button type="submit" class="btn botao" [disabled]="formulario.invalid">
        Entrar
      </button>

      <!-- Link -->
      <div class="link-container">
        Não possui conta?
        <a href="/criar-usuario" class="link-cadastro">
          Cadastre-se aqui!
        </a>
      </div>

    </form>
  </div>
</div>
